
<h1>creatures</h4>
<ul> 
    <% prehistoric_creatures.forEach(prehistoric_creatures =>) %>
    <li>
        <p>
            <strong><%= prehistoric_creature.name %></strong></p>
    </li>
    <% }) %>
</ul>